@import 'Estilos/Contenido/Contenido.css';
@import 'Estilos/Menulateral/Menulateral.css';
@import 'Estilos/Contenido/Pantalla-Productos.css';
@import 'Estilos/Formularios/Productos/FormularioAgregarNuevoProducto.css';
*{
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden
}

.app {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: top;
}



